In [ ]:
Level 1 Problem (easy)
Problem 1.
Schema: <id, marks> -> students
Find second highest marks (very commonly asked)

Sub problems:
1. sort descending order
2. pick the 2nd one from the top

Edge cases:
what if 2 Students have the highest same marks? (duplicates)

Ans:
SELECT DISTINCT marks FROM students
ORDER BY marks DESC
LIMIT 1 OFFSET 1

Ans:
SELECT MAX(marks) AS marks FROM students
WHERE marks < (SELECT MAX(marks) FROM students) #nested query returns the max marks, outer query returns the maximum marks out of all of the marks lesser than the max marks

In [ ]:
Level 2 Problem (medium)
Problem 2.

points: <x,y>
Find the shortest istance between the points (asked at Amazon, Microsoft)

programming approach:

for Pi in points:
    for Pj in points:
        if Pi != Pj:
            compute distance between Pi and Pj and find the minimum

nested for loop like structure can be achieved using Joins in SQL

Ans:
SELECT MIN(SQRT(POW(p1.x - p2.x, 2) + POW(p1.y - p2.y, 2))) as mindist #compute minimum distance b/w 2 points
FROM points p1 JOIN points p2 #self join p1 and p2 
ON p1.x != p2.x OR p1.y != p2.y #if Pi != Pj:

#small optimization, we can swap sqrt and min operation, sqrt is a little time consuming, therefore compute min of the distance first and the minimum's sqrt

In [ ]:
Level 2 Problem (medium)
Problem 3.

orders: cust, item, date

Select customers who purchased atleast 2 items and on 2 different dates

Group by COUNT -> distinct date count, distinct item count
Having -> item count >= 2 and date count >= 2

Ans:
SELECT cust, COUNT(DISTINCT item) as itemcount, COUNT(DISTINCT date) as datecount
FROM orders
GROUP BY cust
HAVING itemcount >=2 AND datecount >= 2

In [ ]:
Level 2.5 Problem (medium)
Problem 4.
GATE question

scores: player, country, goals

Find players who score more than all spanish players and more than atleast one german player

goals > ALL(spanish player goals)    goals > ANY(german player goals)

SELECT t.player FROM scores AS t
WHERE t.goals > ALL (SELECT t1.goals FROM scores AS t1 WHERE t1.country = 'Spain') #can use max
AND t.goals > ANY (SELECT t2.goals FROM scores AS t2 WHERE t2.country = 'Germany') #can use min

Alias help with improving readability

In [ ]:
Level 2.5 Problem (medium)
Problem 5.
GATE question

water_schemes: <scheme_no, district_name, capacity>

Print names of districts whose total capacity >= average capacity of all districts

creating temporary tables

total: district_name, capacity <- group by (sum) - water_schemes
total_avg: average_capacity <- avg - total
result district_name <- where (cross product) - total, total_avg

Using sub query refactorin using with in sub query blocks

with total(name, capacity) as
    select district_name, sum(capacity)
    from water_schemes
    group by district_name
with total_avg(capacity) as
    select avg(capacity)
    from total
select name
    from total, total_avg #cross product
    where total.capacity >= total_avg.capacity

Cross product is combining each row from table 1 to all the rows in table 2
Join can be thought of as Cross Product followed by some filtering